body{
    font: 16px/28px arial, sans-sherif;
    background-color: #eaeaea;
    color: #333;
}
.container {
    width: 900px;
    margin: auto;
}

.header{
    width: 900px;
    height: 130px;
    background-color: rgb(160, 31, 235);
}

.aside{
    width: 300px;
    height: 120px;
    background-color: blue;
    
    
    
}

.nav {
    width: 300px;
    height: 200px;
    background-color: maroon;
    float: left;
    
}

.main {
    width: 600px;
    height: 320px;
    background-color: brown;
    float: right;
    
    
}

.footer{
    width: 600px;
    height: 200px;
    background-color: blueviolet;
}


/* clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}





